@media screen and (max-width: 768px) {

.div1{
    transform: scale(1.4);
   
}
.slider3{
    left: 57vw;
    height: 2vw;
}
.slider2 {
    right: 57vw;
    height: 2vw;
}
.slider1 {
    
    height: 2vw;
left: 63vw;
}
.slider {
    right: 63vw;
    height: 2vw;
}
.slider-container{
    height: 2vw;
}
.slidercenter {
    height: 2vw;
}
.screen3{
    transform: scale(1.05);
    left: 67vw;
}
.screen2 {
    transform: scale(1.05);
    right: 67vw;
}
.screen1 {
    transform: scale(1.05);
    left: 63vw;
}
.screen {
    transform: scale(1.05);
    right: 63vw;
}
.section-1{
    height: 139vw;
}
.div2{
    
    
    position: relative;
    
}
.screens{
 height: 60.761vw;
 width: 100%;
 top: 25vw;   
 background-image: url(../images/screensmobile.svg);
}
.section-2{
    height: 177.822vw;
    
}

.t16{
    font-size: 2.513vw;
    top: 17.6vw;
}
.t17 {
    font-size: 2.513vw;
 left: 43vw;
    top: 17.6vw;
}
.t18 {
    font-size: 2.513vw;
    top: 17.6vw;
    left: 77vw;
}
.roll{
    transform: scale(4);
    top: 122vw;
}
.txtbagage1{
    text-align: left;
    font-size: 9.99vw;
    left: 5vw;
}
.txtbagage {
 display: none;
}
.msk{
    font-size: 5.997vw;
    left: 39vw;
    top: 9vw;
}
.spb {
    font-size: 5.997vw;
    top: 9vw;
}
.saratov {
    font-size: 5.997vw;
    top: 9vw;
    left: 71vw;
}
.left{
 
    height: 15vw;
    left: 32vw;
}
.right {

    height: 15vw;
    right: 32vw;
}
.bagblue{
    left: 30vw;
    top: 60vw;
}
.bagblack {
    right: -34vw;
    top: 60vw;
}
.baggreen1{
    left: 45vw;
        top: 60vw;
}
.bagblue1 {
    left: 35vw;
    
}
.bags{
    transform: scale(2);
}
.greenzone{
    
    height: 38vw;
    top: 48vw;
    left: 37vw;
}
.blackzone {
    height: 38vw;
    top: 48vw;
    left: 0vw;
    width: 32vw;
}
.bluezone {
   
    height: 38vw;
    top: 48vw;
    right: 0vw;
    width: 28vw;
}

.section-3{
top: -10vw;
    height: 157.743vw;
}
.s3bg{
    height: 157.743vw;
    background-image: url(../images/s3bgmobile.svg);
    left: 0vw;
    width: 100vw;
    position: absolute;
}
.pengque{
    transform: scale(2);
    top: 60vw;
    right: -10vw;
}

.txtqeustionforma{
    transform: scale(2);
left: 0vw;
top: 40vw;
}
.form-container{
    transform: scale(2);
    top: 65vw;
}
.namegroup{
    transform: scale(1.5);
    top: 35vw;
    left: 25vw;
    position: absolute;
    width: 100vw;
}
.slider3{
    display: flex;
}
.slider2 {
    display: flex;
}
.slider1 {
    display: flex;
}
.slider4 {
    display: flex;
}
.slider-container{
    display: flex;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3.389vw;
    height: 3.75vw;
    background-color: #1AE4FF;
    border-radius: 1.131vw;
    position: relative;
    background-size: contain;
    /* Поддержка размеров фона */
    background-repeat: no-repeat;

    cursor: pointer;
}
}