@font-face {
    font-family: 'Inter-SemiBold';
    src: url(../fonts/Inter-SemiBold.otf) format('opentype');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Inter-ExtraBold';
    src: url(../fonts/Inter-ExtraBold.otf) format('opentype');
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Radiotechnika';
    src: url(../fonts/Radiotechnika.otf) format('opentype');
    font-style: normal;
    font-weight: 600;
}